{% extends 'layout.html' %}
{% block content %}
   <div class="card border-light mb-3" style="max-width: 100%;">
           <div class="card-header">Provider: {{provider.name}} {{provider.lastname}}</div>
           <div class="card-body">
                   <h5 class="card-title">email: {{provider.email}}</h5>
                   <br>
                   <hr>
                   <h5 class="card-title">The products: </h5>
                   <ul class="list-group list-group-flush">
                       {% for item in items %}
                            <li class="list-group-item">
                                    <a href="{{url_for('item', item_id=item.id)}}">{{item.title}}</a>
                            </li>
                       {% endfor %}
                   </ul>
           </div>
   </div>
{% endblock %}
